# Dependencias y caches
node_modules
**/node_modules
.nx
.docker
.dockerignore
docker-data/*

# Builds locales
dist
.next
/apps/frontend/.next
/apps/backend/dist
/apps/workers/dist
/apps/cron/dist
/apps/commands/dist

# Config local
.devcontainer
.vscode
.git
.github

# Archivos que no sirven en producción
*.md
LICENSE
npm-debug.log
reports

# Evitar subir envs locales
.env
.env.*
